<div id="fullpage">
	<div class="row section" id="one">
		<section="small-12 columns" id="headerSection">
			<header>
				<h1 id="title"> itching to plunge </h1>
				<h2 id="names">
					Ella Mahony <br>
					Clare Trembath
				</h2>
			</header> 
			<video autoplay loop poster="tank.jpg" id="bgvid">
			  <source src="http://s3.amazonaws.com/plunge/<%=@tank %>" type="video/mp4">
		 	</video>
			 <audio loop id="audio1">
				 <source src="http://s3.amazonaws.com/plunge/<%= @aquarium_audio %>" type="audio/mp3">
			</audio>
		</section>
	</div>

	<div class="row section" id="two">
		<p id="craigintank">Craig stared into the tank. </p>
		<div class="intro">
			<p class="standard introparagraph">
				A Bluegrey Carpetshark wriggled it's way across the base, coming right up to the glass before making a sharp turn to the right.<br>
			</p>
			<img id="sharkgif" src="http://s3.amazonaws.com/plunge/<%= @sharkswim %>" />
			<p class="standard introparagraph">
				It wasn't a particularly interesting shark. Still, it was the only shark that had bothered to come up and say hello. Craig sidestepped over to the far wall to read the information about the Bluegrey Carpetshark.
			</p>
		</div>
	</div>

	<div class="row section wall" id="three">
		<img id="wallsign" src="../assets/images/glassSign.png" />
		<div class="grow pic">
			<img id="blingshark" src="http://s3.amazonaws.com/plunge/<%= @bling %>" />
		</div>
	</div>

	<div class="section" id="four">
		<div id="para4Box">
			<p class="standard fourthParagraph">
				Sounds familiar, Craig thought. Takes one to know one.<br>
				He kicked the bottom of the tank suddenly, thoughts of 1999 poured in from all around.<br>
				It wasn't as if he was a 'bottom-dweller', number 2 in the Official UK Charts is certainly not bottom-dwelling. <br>
				Number 2 is right beneath the water's surface, <br>
				the warm shallows of success, <br>
				one stroke away from breaking the surface and.. <br>
			</p>
		</div>
	</div>


	<div class="section" id="five">
		<div id="snow2">
			<a href="https://www.youtube.com/watch?v=cA5QJS3paAo" target="_blank">
				<p class="blink_me" id="fuck">FUCK CLIFF RICHARD!</p>
			</a>

			<p class="standard" id="afterfuck">
				How the fuck did 'The Millenium Prayer' shit get the number one spot? <br>
				Whose fucking idea was it to release Re-rewind at Christmastime?
			</p>
		</div>
	</div>

	<div class="section" id="six">
		<video autoplay loop class="secondbgvid" poster="tank.jpg">
		  <source src="http://s3.amazonaws.com/plunge/<%=@tank %>" type="video/mp4">
		</video>
		<div class="small-12 columns">
			<div class="small-6 columns">
				<p class="standard">
					Craig took deep and steadying breathes to calm himself.<br>
					He stared back into the aquatic tank and muttered his secret mantra to himself under his breath. <br>
					"Monday..." Craig crooned, "took her for a drink on Tuesday",
					<br> he was feeling better already, 
					<br>"we were making love by Wednesday",<br> yes they were,<br>
					"... and on Thursday & Friday & Saturday we chilled on Sunday" <br>
					<br>
						<span class="chillSpan">chilled, chill, calm.</span>
				</p>
			</div>
			<img src="http://s3.amazonaws.com/plunge/<%=@chill %>" class="small-6 columns calmcraig">
		</div>
	</div>

	<div class="section" id="seven">
		<p class="standard paragraph-seven">
			Craig pressed his hands against the glass of the tank and raised his eyes to the surface. <br>
			A great Hammerhead shark haloed darkly up above. <br>
			His therapist had said it was important to remember one's achievements, but equally important not to live in the past.<br><br>
			Craig had never properly considered that not only was the hammerhead shark's head the shape of a hammer, <br>
			but that it's flesh was the colour of dull metal, as if it's body had been used. 
		</p>
	</div>
	
	<div class="section" id="eight">
		<canvas id="c">		</canvas>
			<img src="http://s3.amazonaws.com/plunge/<%=@jellygif %>" class="small-6 columns jellygif">
			<p class="standard paragraph-eight">
			Craig moved over to a tank of jellyfish, watching them undulate he was glad there was a sheet of high strength acrylic plastic between them. His hands were itching to plunge themselves into the brightly coloured domes and frills. This impulse tasted like the sweet pain of childhood.
			</p>
	</div>

	<div class="section" id="nine">
		<p class="standard nine-paragraph small-6 columns">
			Craig took out his iphone and scrolled through his artists hovering over his own name.<br>
			He selected a song and let it play out as he watched the creatures expand and contract.<br>
		</p>

	</div>
	
	<div class="section" id="ten">

		<p class="standard ten-paragraph">
			Jellyfish have been expanding and contracting for over 500 million years, Craig thought.
		</p>
		<p class="standard ten-paragraph">
			<br> How many times could 7-days play in 500 million years?<br> 
		</p>

		<img src="http://s3.amazonaws.com/plunge/<%= @jelly_gif_two %>" class="jelly_two">
		<img src="http://s3.amazonaws.com/plunge/<%= @jelly_gif_two %>" class="jelly_two" id="#three">
		<img src="http://s3.amazonaws.com/plunge/<%= @jelly_gif_two %>" class="jelly_two" id="#four">
		<img src="http://s3.amazonaws.com/plunge/<%= @jelly_gif_two %>" class="jelly_two" id="#five">
	 </div>
</div>